.container {
  display: flex;
  gap: 20px;
}

.poster {
  width: 250px;
}

.details {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
}

.text {
  font-size: 18px;
}

.genresList {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}
